{
    "extends": [
        "next",
        "prettier"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "import/no-anonymous-default-export": 0,
        "prettier/prettier": "error"
      }
  }
  