name: coverage
on:
  push:
    branches: [master]
  pull_request_target:
    type: [opened, reopened, synchronize]
jobs:
  Coverage-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - uses: artiomtr/jest-coverage-report-action@v2
        with:
          github-token: ${{ secrets.COVERAGE_TOKEN }}
          threshold: 90
          skip-step: install
